/cache/
/Cache/
/Dinamic/
/doc/
/MyFiles/
/node_modules/
/Plugins/
!/Plugins/SolwedTheme/
!/Plugins/SolwedPlugins/
!/Plugins/Blog/
!/Plugins/ImportarFacturasEmail/
!/Plugins/FirmaAlbaran/
!/Plugins/SolwedES/
/vendor/
.DS_Store
.htaccess
config.php
!.docker/config.php
config-mysql.php
config-postgresql.php
generateDoc.sh
package-lock.json
*.cache
*.lock

# Eclipse
.buildpath
.project
.settings

# netbeans
/nbproject/

# phpstorm
/.idea/

# vscode
.vscode
*.code-workspace
.history